<%- include("templates/header") %>

<%- include("templates/warningModal") %>
<% var months = ["January","Febuary","March","April","May","June","July","August","September","October","November","December"] %>
<% const currentDate = new Date(); %>
<% const Year = currentDate.getFullYear(); %>
<% if (currentDate.getMonth() < currentMonth) { %>
    <h1>Expenses: <%= Year -1 %> <%= months[currentMonth] %></h1>
<% } else { %>
    <h1>Expenses: <%= Year %> <%= months[currentMonth] %></h1>
<% } %>
<div class="btn-group py-2">
    <a href="/addExpenses">
        <button type = "button" class = "btn btn-success">Add Expense</button>
    </a>
    <% if (currentDate.getMonth() + 1 != currentMonth) { %>
        <a href = "/expenses/?month=<%= currentMonth - 1 %>"><button type = "button" class = "btn btn-success">Prev</button></a>
    <% } %>
    <% if (currentDate.getMonth() != currentMonth) { %>
        <a href = "/expenses/?month=<%= currentMonth + 1 %>"><button type = "button" class = "btn btn-success">Next</button></a>
    <% } %>
</div>
    <% if (exist) { %>
        <div class="list-group">
            <ul class="list-group">
                <% let i = 0 %>
                <% const currentDate = new Date(); %>
                <% for (i = 0; i < expense.length; i++) { %> 
                    <% if (expense[i].date.getMonth() === currentMonth) { %>
                        <%- include('./templates/listofexpense', {expense: expense[i]})  %> 
                    <% } %> 
                <% } %>
            </ul>
        </div>
    <% } else { %>
        No expenses recorded <br>
    <% } %>


    
    <% if (overspent) { %>
        <script>
            // Wait for the document to be ready
            document.addEventListener("DOMContentLoaded", function() {
                // When the document is ready, show the modal
                var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
                myModal.show();
            });
        </script>
    <% } %>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Warning</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Your budget has been depleted
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
            </div>
        </div>
        </div>
    </div>

    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button> -->
    
<%- include("templates/footer") %>