<%- include("templates/header") %>

<%- include("templates/warningModal") %>

    <h1>Type of Purchase</h1>
    <a href="/addExpenses">
        <button type = "button" class = "btn btn-success w-100 py-2">Short Term Purchases</button>
    </a></br></br>
    <a href="/investments">
        <button type = "button" class = "btn btn-success w-100 py-2">Long Term Investments</button>
    </a>
    <h1>Expenses:</h1>
    <% if (exist) { %>
        <div class="list-group">
        <% let i = 0 %>
        <% for (i = 0; i < expense.length; i++) { %> 
            <%- include('./templates/listofexpense', {expense: expense[i]})  %> 
        <% } %>
    </div>
    <% } else { %>
        No expenses recorded <br>
    <% } %>

    <h1>Investments:</h1>
    <% if(investments.length > 0) { %>
        <div class="list-group">
        <% for (let i = 0; i < investments.length; i++) { %>
            <%- include('templates/listofinvestments', {investment: investments[i]}) %>
        <% } %>
    </div> 

    <% } else { %>
        No investments recorded
    <% } %>


    
    <% if (overspent) { %>
        <script>
            // Wait for the document to be ready
            document.addEventListener("DOMContentLoaded", function() {
                // When the document is ready, show the modal
                var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
                myModal.show();
            });
        </script>
    <% } %>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Warning</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Your budget has been depleted
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
            </div>
        </div>
        </div>
    </div>

    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button> -->
    
<%- include("templates/footer") %>