<ul class="list-group">
  <li class="list-group-item border border-dark">
    <h5 class="title">
      <%= budgetname %>: <%= budgetamount %> <a href="/deletebudget/?budget=<%=budgetname%>" <button
            class="btn btn-danger float-end">Delete Budget</button></a>
    </h5>
  </li>
  <% if (expenses.length> 0) { %>
    <% let i=0 %>
      <% for (i=0; i < expenses.length; i++) { %>
        <li class="list-group-item fw-normal border border-dark">
          Expense Name : <%= expenses[i].expense %>, Date : <%= expenses[i].date %> <br>
              Price : <%= expenses[i].price %>
        </li>
        <% } %>
          <% } else { %>
            <li class="list-group-item fw-normal border border-dark">
              no transaction recorded
            </li>
            <% } %>
</ul>
<br>