<li class = "list-group-item">
        <li class="list-group-item h5 mb-3 fw-normal">
          <h5 class="title"><%= budgetname %>: <%= budgetamount %></h5>
       </li>
      <% if (expenses.length > 0) { %>
        <% let i = 0 %>
        <% for (i = 0; i < expenses.length; i++) { %> 
      <li class="list-group-item h5 mb-3 fw-normal">
        Expense Name : <%= expenses[i].expense %>, Date : <%= expenses[i].date %> <br>
        Price : <%= expenses[i].price %>
     </li>
    <% } %>
   <% } else { %>
    <li class="list-group-item h5 mb-3 fw-normal">
    no transaction recorded
  </li>
  <% } %>
</li>